{% extends '../base.html' %}

{% block content %}
<h2>Your Purchases</h2>
<table>
    <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Date</th>
    </tr>
    {% for purchase in purchases %}
    <tr>
        <td>{{ purchase.name }}</td>
        <td>${{ purchase.price }}</td>
        <td>{{ purchase.date }}</td>
    </tr>
    {% endfor %}
</table>
<a href="{% url 'upload_barcode' %}">Add New Purchase</a>
<a href="{% url 'export_purchases_csv' %}" class="btn btn-primary">📥 Export as CSV</a>
{% endblock %}
