<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Budget Tracker{% endblock %}</title>
    
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body>

<div class="container">
    <nav>
        {% if user.is_authenticated %}
            <a href="{% url 'dashboard' %}">Dashboard</a>
            <a href="{% url 'upload_barcode' %}">Add Purchase</a>
            <a href="{% url 'stats' %}">Statistics</a>
            <a href="{% url 'signout' %}" class="btn btn-danger">Logout</a>
        {% else %}
            <a href="{% url 'signup' %}">Sign Up</a>
            <a href="{% url 'signin' %}">Login</a>
        {% endif %}
    </nav>

    {% block content %}
    {% endblock %}
</div>

</body>
</html>
